
.split {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	padding-left: 20px;
}

.left {
	width: 70%;
	left: 0;
	background-color: #ceedd0;
	border: 2px solid;
}

.right {
	width: 30%;
	right: 0;
	background-color: #4d5452;
}

.headline {
    height: 180px;
}

.headline img {
	float: left;
	width: 160px;
	border-radius: 100%;
	border: 2px solid;
}

.name {
	margin-left: 30px;
	float: left;
	width: 450px;
	font-size: 50px;
}

.cv_items_left {
	margin-top: 30px;
	width: 300px;
	height: 30px;
	border: solid;
	border-radius: 8px;
	font-size: 24px;
	color: #4d5452;
	text-align: center;
}

.item_div {
	margin-left: 10px;
}

.cv_items_right {
	width: 300px;
	height: 30px;
	border: solid;
	border-radius: 8px;
	font-size: 24px;
	color: #ceedd0;
	text-align: center;
}

.table {
	border-spacing: 7px 5px;
	text-align: top;
}

.margin_items {
	margin-top: 30px;
}

.last_div {
	margin-top: 10px;
	margin-bottom: 30px;
}